<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Enter your ID">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" routerLink="/user-profile">Login</button>
        <a routerLink="/register">Noch nicht registriert?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
