/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

.content {
  padding: 20px;
  margin-top: 10px;
}
