<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Collaboration Marketplace</title>
</head>
<body>
    <header>
        <nav>
            <button class="button-80">Projects</button>
            <button class="button-80">Collaborators</button>
            <button class="button-80">My Profile</button>
            
        </nav>
        <div class="button-group">
            <button routerLink="/login">
                <span>Login</span>
            </button>
        </div>
    </header>
    <main>
        <div class="search-bar">
            <input placeholder="Search projects...">
            <button>Add New</button>
        </div>
        <h2>Recommended Projects:</h2>
        <div class="project-container">
            <div class="project">
                <div>
                    <span>JP</span>
                    <div>
                        <h3>Project Alpha</h3>
                        <p>johnexample.com</p>
                    </div>
                    <div>Physics</div>
                </div>
                <div>
                    <p>Project Alpha is a groundbreaking research in the field of Physics.</p>
                    <a>View Project Details</a>
                </div>
            </div>
            <div class="project">
                <div>
                    <span>MJ</span>
                    <div>
                        <h3>Project Beta</h3>
                        <p>maryexample.com</p>
                    </div>
                    <div>Biology</div>
                </div>
                <div>
                    <p>Project Beta is a novel study in the realm of Biology.</p>
                    <a>View Project Details</a>
                </div>
            </div>
            <div class="project">
                <div>
                    <span>DS</span>
                    <div>
                        <h3>Project Gamma</h3>
                        <p>daveexample.com</p>
                    </div>
                    <div>Chemistry</div>
                </div>
                <div>
                    <p>Project Gamma is an innovative exploration in Chemistry.</p>
                    <a>View Project Details</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
